/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.container {
  	width: 710px;
  	margin: auto;
}

body {
  	background: #cff;
}

header {
  	padding-top: 20px;
}

header img {
  	padding: 1em;

}

section {
  	margin-top: 1em;
  	font-size: 120%;
  	padding: 20px;
  	background: #fff;
}

section h1 {
  	font-size: 200%;
}

/* Liens */

a {
  	color: #09c;
  	text-decoration: none;
}
.signupbutton{
	color: white;
}

a:hover {
  	text-decoration: underline;
}


.RoR {
	width: 75px;
	height: 75px;
}
.round{
	border-radius: 10px;
}
